**Product sales profit prediction**

In [2]:
import pandas as pd
profit = pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Product%20Sales%20Data.csv")

In [3]:
profit.head()

,Month,Cream,Detergent,Moisturizer,Sanitizer,Shampoo,Soap,Total Units,Total Profit
0,Jan,5100,9600,1525,1550,1200,2510,21485,211500
1,Feb,5000,6500,1225,1250,2100,2640,18715,183800
2,Mar,4450,9950,1365,1390,3550,2150,22855,225200
3,Apr,5770,9270,1155,1180,1870,3410,22655,223200
4,May,4460,8160,1765,1790,1560,3610,21345,210100

In [28]:
profit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         12 non-null     object
 1   Cream         12 non-null     int64
 2   Detergent     12 non-null     int64
 3   Moisturizer   12 non-null     int64
 4   Sanitizer     12 non-null     int64
 5   Shampoo       12 non-null     int64
 6   Soap          12 non-null     int64
 7   Total Units   12 non-null     int64
 8   Total Profit  12 non-null     int64
dtypes: int64(8), object(1)
memory usage: 996.0+ bytes

In [4]:
profit.columns

Index(['Month', 'Cream', 'Detergent', 'Moisturizer', 'Sanitizer', 'Shampoo',
       'Soap', 'Total Units', 'Total Profit'],
      dtype='object')

In [34]:
X = profit.drop(['Month','Total Profit'], axis=1)
y = profit['Total Profit']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [36]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [38]:
from sklearn.metrics import mean_absolute_percentage_error
accuracy = 100 - mean_absolute_percentage_error(y_test, y_pred)
print(accuracy)

99.50606898207384